<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="ISO-8859-1">


<head>
<!--  Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--  Bootstrap CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 


</head>
<title>GraphDraw</title>
<body>
	<div class="container-fluid" align="text-center">
		

		<div>
			<h1>Graph Drawing API</h1>
		</div>
		
		<div><canvas id="chart_div" height ="600" width = "400"></canvas></div> 
	    
	      <script type = "text/javascript">
	      
	    </script>
	    
	      <script type = "text/javascript" >
	    
	    $(document).ready(
	    		
	    		function(){
	    let x=[];
	    let y=[];
	   
	    google.charts.load('current', {'packages':['line']});
	      google.charts.setOnLoadCallback(drawChart);
	      
	     
	    
	    
	  			   
	    function drawChart() {
	    	// Set Data
	   
	    	var data = new google.visualization.DataTable();
	    	data.addColumn('number', 'x');
	    	data.addColumn('number', 'y');
	    	data.addRows(
	    	[
	    		
	    		[1,37],
	    		[2,38],
	    		[3,40]
	    		
	    	]		
	    	
	    	
	    	)
	    	
	    	
	    	
	    	// Set Options
	    	var options = {
	    	  title: 'graph func',
	    	  xAxis: {title: 'x'},
	    	  yAxis: {title: 'y'},
	    	  legend: 'none'
	    	};
	    	// Draw Chart
	    	  var chart = new google.charts.Line(document.getElementById('chart_div'));
	    	
	    	chart.draw(data, options);
	    	}
	   
	    
	   
	      function decodeHtml(html) { 
			    var txt = document.createElement("textarea"); 
			    txt.innerHTML = html; 
	 		    return txt.value; 
		} 

	      
	      
	      function getChartData (){
	                	
	    	      var myData = mathFunc("cos",1,4,5)
	    	     x = myData.responseJSON.xValues.map( x => x);
	    	      y = myData.responseJSON.yValues.map( x => x);
	    	     
	    	      console.log("x: "+ x[0])
	    	      var arry = new Array(2,x.length)   
	    	    
	    	 console.log("my Data: " + arry)
	    	   for (i = 0; i< myData.responseJSON.xValues.length; i++){
	    		  
	    		   arry[i,i]=[x[i],y[i]];
	    		   
	    	   
	    	   }
	    	       
	    	       alert(arry);
	    		}
	    		
	     
	    		function mathFunc(name,a,b,n){
	    			 var data = $.ajax({
	 	    			type: "GET",
	 	    			async: false,
	 	    			dataType: "json",
	 	    			url: "http://localhost:8082/function?name=" + name+"&a="+a+"&b="+b +"&n="+n,
	 	    		  }).done(function(data, textStatus, jqXHR){
	 	    		
	 	    		     
	 	    		      //  alert(jqXHR.responseJSON.yValues)
	 	    		  });
	 	    		  
	 	    		 
	 	    		 return data;
	    	  
	     }  
	      

  	    		getChartData()
  	    		drawChart()
  	    		
	    		})
	    
	      </script>
	      
	</div>
</body>
</html>











